<div class="container mt-4">
  <ngb-carousel *ngIf="popularProducts">
    <ng-template *ngFor="let data of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="product-header-image"
          src="{{ data.image }}"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>{{ data.name }}</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="product-list-wrapper">
    <h1>Trendy Products</h1>
    <div class="row ">
      <div class="col-sm-3" *ngFor="let data of trendyProduct">
        <div class="product-item">
          <img src="{{data.image}}" alt="" />

          <div class="product-details">
            <h6 class="name-head">{{data.name}}</h6>
            <div class="product-price">
              <h6>Price:{{data.price}}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{data.color}}</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to card</a>
          </div>
        </div>
      </div>

      

      

      
    </div>
  </div>
</div>
